- meta: "e.g. xyz.freifunk.net created on year/mm/dd by someone"
  contact: "email or something else"
  pattern: "^xyz\\.freifunk\\.net$"
  domain: "xyz.freifunk.net"
  target: "http://target_to_be_redirected_to"
- meta: "anothercommunity.freifunk.net created on 2021/08/22 15:35:11.586 GMT+1 by me"
  contact: "email or something else"
  pattern: "^anothercommunity\\.freifunk\\.net$"
  domain: "anothercommunity.freifunk.net"
  target: "https://anothercommunity-hosted-somewhere/"
